@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";

:root {
  font-family: "lato";
  line-height: 1.5;
  font-weight: 500;
  font-style: italic;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F4F4F8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 15px;
}
