.weather-widget {
    color: #fff;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  
  .weather-widget h2 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .weather-widget div {
    margin-bottom: 0.5rem;
  }
  
  .weather-widget img {
    display: block;
    margin: 0 auto; /* Centra l'immagine orizzontalmente */
    width: 50px;
    height: auto;
  }
  