nav {
  background-color: #333;
  padding: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff6347; /* Tomato color */
}

nav ul li a.active {
  border-bottom: 2px solid #ff6347; /* Tomato color */
}

@media (max-width: 568px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 0.5rem 0;
  }
}
