.containerMilano {
 padding-left: 25px;
& h2 {
    text-align: start;
    font-size: 3rem;
    margin-top: -50px;
    margin-left: 60px;
    transition: 0.5s;
    width: 250px;
}
& h2:target {
    background-color: coral;
    transition: 1s;
}
& h3 {
    text-align: start;
    font-size: 1.5rem;
    margin-left: 5px;
}
}
#milanoImg {
    margin-top: -50px;
    margin-right: 30px;
    width: 450px;
}
.containerIntroMilano{
    display: flex;
}
.containerSales {
    margin-top: -100px;
}
#visualM {
    text-align: end;
    margin-top: 50px;
    margin-right: 50px;
}
.containerVisual {
display: flex;
    & img{
        margin-top: -80px;
        width: 250px;
        margin-right: 30px;
    }
}