a.linkTimeline {
  font-family: "lato";
  text-decoration: none;
  color: #e3ad05;
}
.containerTimeline {
    grid-column: 3/-1;
    position: sticky;
    top: 10px;
    border-top: 1px solid #000;
    margin-top: 50px;
    padding-left: 50px;
  & ul {
    list-style: none;
    padding-left: 0;
  }

  & li {
    position: relative;
    padding-left: 1em;
    margin-bottom: 2em;
  }
  & h4 {
    font-size: 1.5rem;
  }
}
