.containerAccount{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 5px;

  & h3 {
    text-align: center;
    color: #ebe9e9
  }
}
.linkedinLogo {
  position: relative;
  bottom: -5px;
  width: 25px;
}
a.accounts {
  text-decoration: none;
  font-weight: bold;
  color: #9999C3;
}
a.accounts:hover {
  text-decoration: none;
  font-weight: bold;
  color: #C0E6DE;
}
.instagramlogo {
  position: relative;
  bottom: -5px;
  width: 25px;
}